@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #a3bcb6;
  font-family: "Montserrat", sans-serif;
}

.projectContainer {
  width: 550px;
  height: 360px;
  margin: 20px;
  background-color: #ebe8e1;
  border-radius: 15px;
}

.projectContainer h3 {
  color: #555a57;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

.projectContainer h3 {
  background-color: #949c96;
  position: relative;
  transform: translateZ(0);
  transition: color 1000ms;
}

.projectContainer h3:before {
  content: "";
  background-color: #26c485;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition-property: transform;
  transition: 300ms ease-out;
}
.projectContainer h3:hover:before {
  transform: scaleY(1);
}

.python1 {
  width: 35px;
  margin-left: 5%;
}

.python2 {
  width: 35px;
  margin-left: 5%;
}

.projectContainer p {
  color: #656b67;
  padding: 0px 20px;
  margin-top: 20px;
}

.gitHub {
  background-color: #3c403d;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin-left: 35%;
}

.gitHub:hover {
  background-color: #232524;
  transition-duration: 500ms;
}

.tryIt {
  background-color: #26c485;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 10%;
}

.tryIt:hover {
  background-color: #197e55;
  transition-duration: 500ms;
}
